APP_NAME=MLCG Backend
API_HOST=0.0.0.0
API_PORT=8088
API_KEY=secret-api-key

TIMEZONE=UTC

DEBUG=true

ACCESS_LOG_ENABLE=false
LOG_LEVEL=DEBUG
LOG_PATH=logs/application.log
LOG_ROTATE_TYPE=time
LOG_ROTATE_WHEN=midnight
LOG_ROTATE_INTERVAL=1
LOG_ROTATE_MAX_SIZE=10MiB
LOG_ROTATE_BACKUP_COUNT=15
